# =========================
# Python virtual environment
# =========================
venv/

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# =========================
# SQLite databases
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Environment variables
# =========================
.env

# =========================
# Temporary files
# =========================
*.tmp
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store