# SQLite database
*.db
*.sqlite
*.sqlite3

# OS files
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.log

# Python virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/